@tailwind base;
// @tailwind utilities;
// @tailwind components;

body {
  @apply bg-primary;
}

.container {
  @apply px-6;
}

.c-header {
  @apply bg-secondary;

  .container {
    @apply flex items-center justify-between;
  }

  &__logo {
    @apply italic font-medium text-xl text-white;
  }
}

.c-nav {
  &__list {
    @apply flex;
  }

  &__item {
    a {
      @apply inline-block py-4 mx-4 text-white;

      &:last-of-type {
        @apply mr-0;
      }
    }
  }
}

// hero section
.c-hero {
  .container {
    @apply max-w-full md:flex md:justify-between md:items-center py-8;
  }

  &__desc {
    // @apply md:w-1/2;
  }

  &__title {
    @apply text-5xl font-bold mb-4;
  }

  &__info {
    @apply text-gray-700 text-2xl;
    @apply md:w-4/5 md:max-w-[600px];
  }

  &__photo {
    @apply mt-8 md:mt-0 md:w-[400px];
  }
}

// section style
section .title {
  @apply text-center text-4xl mb-12;
}

// about us
.c-about {
  @apply my-8 py-16 bg-secondary text-primary;
}

.c-skills {
  &__title {
    @apply text-3xl text-center mb-8;
  }

  &__list {
    @apply relative mt-4 mx-auto w-1/2 py-4 flex flex-col items-center;

    &::before {
      @apply absolute top-0 left-1/2 h-full border-l-2 border-primary -z-0;
      content: '';
      transform: translateX(-50%);
    }
  }

  &__item {
    @apply relative text-xl bg-primary text-secondary py-2;
    @apply rounded text-center;
    @apply min-w-[140px];

    &::before {
      @apply absolute top-1/2 -right-[0.9rem] z-0;
      @apply w-4 h-[2px];
      @apply bg-primary;
      content: '';
      transform: translateY(-50%);
    }

    &:nth-of-type(odd) {
      transform: translateX(-60%);

      &::before {
        @apply -right-[0.9rem];
      }
    }

    &:nth-of-type(even) {
      transform: translateX(60%);

      &::before {
        @apply -left-[0.9rem];
      }
    }

    &:not(:first-of-type) {
      @apply mt-4;
    }
  }
}

// service
.services-container {
  @apply py-4 mb-16;
  @apply md:flex justify-between;
}

.c-service {
  @apply px-4 py-6 mb-6;
  @apply border border-secondary/50;
  @apply rounded;
  @apply md:w-[31%];

  &__title {
    @apply text-xl font-semibold my-2;
  }
}

.c-works {
  @apply flex flex-wrap md:flex-nowrap gap-4;

  &__item {
    @apply relative border border-secondary/50;
    @apply rounded overflow-hidden;

    img {
      @apply w-full h-full object-cover;
    }
  }

  &__label {
    @apply absolute bottom-0 left-0;
    @apply px-8 py-2 bg-secondary;
    @apply text-white;
  }
}

// contact us
.c-contact {
  @apply mt-32 py-16;
  @apply bg-secondary text-primary;

  .container {
    @apply md:flex md:flex-wrap;
    @apply md:items-center md:justify-between;
  }

  .title {
    @apply md:w-full;
  }

  &__form {
    @apply md:w-full md:max-w-[400px];
  }

  &__input-group {
    @apply flex flex-col;

    &:not(:first-of-type) {
      @apply mt-3;
    }

    input {
      @apply w-full px-3 py-2 mt-1 rounded;
    }

    button {
      @apply px-4 py-2 mt-4 text-primary bg-green-600 rounded-lg;
    }
  }

  &__social {
    @apply pr-8;

    a {
      @apply pr-4 py-2 my-4 block border-b-2 border-primary;
    }
  }
}

// footer
.c-footer {
  @apply text-center py-8;

  &__title {
    @apply text-xl mb-4;
  }


  &__made-with {
    @apply text-red-600 text-lg;
  }
}