@tailwind base;
body {
  @apply bg-primary;
}

.container {
  @apply px-6;
}

.c-header {
  @apply bg-secondary;
}

.c-header .container {
  @apply flex items-center justify-between;
}

.c-header__logo {
  @apply italic font-medium text-xl text-white;
}

.c-nav__list {
  @apply flex;
}

.c-nav__item a {
  @apply inline-block py-4 mx-4 text-white;
}

.c-nav__item a:last-of-type {
  @apply mr-0;
}

.c-hero .container {
  @apply max-w-full md:flex md:justify-between md:items-center py-8;
}

.c-hero__title {
  @apply text-5xl font-bold mb-4;
}

.c-hero__info {
  @apply text-gray-700 text-2xl;
  @apply md:w-4/5 md:max-w-[600px];
}

.c-hero__photo {
  @apply mt-8 md:mt-0 md:w-[400px];
}

section .title {
  @apply text-center text-4xl mb-12;
}

.c-about {
  @apply my-8 py-16 bg-secondary text-primary;
}

.c-skills__title {
  @apply text-3xl text-center mb-8;
}

.c-skills__list {
  @apply relative mt-4 mx-auto w-1/2 py-4 flex flex-col items-center;
}

.c-skills__list::before {
  @apply absolute top-0 left-1/2 h-full border-l-2 border-primary -z-0;
  content: '';
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.c-skills__item {
  @apply relative text-xl bg-primary text-secondary py-2;
  @apply rounded text-center;
  @apply min-w-[140px];
}

.c-skills__item::before {
  @apply absolute top-1/2 -right-[0.9rem] z-0;
  @apply w-4 h-[2px];
  @apply bg-primary;
  content: '';
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-skills__item:nth-of-type(odd) {
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}

.c-skills__item:nth-of-type(odd)::before {
  @apply -right-[0.9rem];
}

.c-skills__item:nth-of-type(even) {
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}

.c-skills__item:nth-of-type(even)::before {
  @apply -left-[0.9rem];
}

.c-skills__item:not(:first-of-type) {
  @apply mt-4;
}

.services-container {
  @apply py-4 mb-16;
  @apply md:flex justify-between;
}

.c-service {
  @apply px-4 py-6 mb-6;
  @apply border border-secondary/50;
  @apply rounded;
  @apply md:w-[31%];
}

.c-service__title {
  @apply text-xl font-semibold my-2;
}

.c-works {
  @apply flex flex-wrap md:flex-nowrap gap-4;
}

.c-works__item {
  @apply relative border border-secondary/50;
  @apply rounded overflow-hidden;
}

.c-works__item img {
  @apply w-full h-full object-cover;
}

.c-works__label {
  @apply absolute bottom-0 left-0;
  @apply px-8 py-2 bg-secondary;
  @apply text-white;
}

.c-contact {
  @apply mt-32 py-16;
  @apply bg-secondary text-primary;
}

.c-contact .container {
  @apply md:flex md:flex-wrap;
  @apply md:items-center md:justify-between;
}

.c-contact .title {
  @apply md:w-full;
}

.c-contact__form {
  @apply md:w-full md:max-w-[400px];
}

.c-contact__input-group {
  @apply flex flex-col;
}

.c-contact__input-group:not(:first-of-type) {
  @apply mt-3;
}

.c-contact__input-group input {
  @apply w-full px-3 py-2 mt-1 rounded;
}

.c-contact__input-group button {
  @apply px-4 py-2 mt-4 text-primary bg-green-600 rounded-lg;
}

.c-contact__social {
  @apply pr-8;
}

.c-contact__social a {
  @apply pr-4 py-2 my-4 block border-b-2 border-primary;
}

.c-footer {
  @apply text-center py-8;
}

.c-footer__title {
  @apply text-xl mb-4;
}

.c-footer__made-with {
  @apply text-red-600 text-lg;
}
/*# sourceMappingURL=input.css.map */